flask==2.3.3
flask-login==0.6.2
flask-sqlalchemy==3.1.1
gunicorn==23.0.0
email-validator==2.1.0
openpyxl==3.1.2
pandas==2.1.2
psycopg2-binary==2.9.9
reportlab==4.0.7
werkzeug==2.3.7
sqlalchemy==2.0.22
numpy==1.21.6
opencv-python-headless==4.5.5.64
pyzbar
